  <div class="flex-container" data-ng-controller="TableDataCtrl">

            <ul class="input-list style-1 clearfix">
                <li>
                    <input data-ng-model="search.small"  type="text"><br>
                </li>

            </ul>



            <div class="rows" data-ng-repeat="row in elements">

                <div class="{{element.className}} order_{{element.position}}"  draggable ng-repeat="element in row | filter:search:strict">
                    <p>{{element.small}}</p>

                </div>


            </div>

        </div>