  

<div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">


            <h2>Convert this temperature</h2> 
          
<div  ng-controller="TemperatureCtrl">

    <form name="myform"  class="form-horizontal">


        <div class="form-group">
            <label for="kelvin" class="col-sm-8 control-label">Temperature in Kelvin</label>
            <div class="col-sm-3">
                <input ng-model="kelvin" class="form-control" name="kelvin" type="text" >
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click="submit(myform)">Go</button>
            </div>
        </div>

    </form>
    
    This temperature in other units:
    
      <div ng-repeat="row in data">
     <h3> {{row.value}} {{row.scale}}</h3>
    </div>

    
    
    </div>
        <div class="col-md-4"></div>
    </div>
   
    
    
</div>

