  
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">


        <h2>Chemistry tree</h2> 

        <div  ng-controller="TreeCtrl">

            <form name="treeform"  class="form-inline">


                <div class="form-group">
                    <label for="kelvin" class="col-sm-3 control-label">Search</label>
                    <div class="col-sm-3">
                        <input ng-model="node" class="form-control" name="node" type="text" >
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default" ng-click="submit(treeform)">Go</button>
                    </div>
                </div>



            </form>
            <br><br>
            <pre ng-if="error==0">{{data}}</pre>
            <p ng-if="error==1" style="color:red;">{{data.error}}</p>

        </div>
        <div class="col-md-2"></div>
    </div>



</div>

